.storybook-card {
  margin: 5;
  padding: 20px;
  max-width: 350px;
  color: #333;
  font-size: 14px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #333;
  border-radius: 20px;
}