@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
	--font-display: 'Fredoka', 'Nunito Sans', Helvetica, Arial, sans-serif;
	--color-primary: #a1eafb;
	--color-secondary: #ffcef3;
	--color-accent: #cabbe9;
	--color-gandang-white: #fdfdfd;
	--color-warning: #ff0000;
}

body {
	color: #333333;
}
